
<div class="flex flex-col items-center justify-center">
  <h1 class="mb-8 mt-8 text-4xl"> Template driven form </h1>
  <form #signInForm="ngForm" (submit)="onSubmit(signInForm)" class="signInForm flex flex-col">
    <div class="form-group">
      <label class="mr-4">Username</label>
      <input required email="true" #user="ngModel" [(ngModel)]="userInfo.username" name="username" type="email" placeholder=" Username" class="border border-black flex-1 w-full">
      <div *ngIf="user.touched && !user.valid">
        <span class="text-red-500" *ngIf="user.errors?.['required']">Username is required</span>
      </div>
    </div>
    <div class="form-group">
      <label class="mr-4">Password</label>
      <input required minlength="8" #password="ngModel" [(ngModel)]="userInfo.password" name="password" type="password" placeholder=" Password" class="Password" class="border border-black flex-1 w-full">
      <div *ngIf="password.touched && !password.valid">
        <span class="text-red-500" *ngIf="password.errors?.['required']">Password is required</span>
      </div>
    </div>
    <div class="form-group">
      <label class="mr-4">Phone</label>
      <input required minlength="10" #phone="ngModel" [(ngModel)]="userInfo.phone" name="phone" type="text" pattern="[0-9]+" placeholder=" Phone" class="Phone" class="border border-black flex-1 w-full">
      <div *ngIf="phone.touched && !phone.valid">
        <span class="text-red-500" *ngIf="phone.errors?.['required']">Phone is required</span>
        <span class="text-red-500" *ngIf="phone.errors?.['pattern']">Phone is invalid</span>
      </div>
    </div>
    <br>
    <div class="form-group">
      <button [disabled]="signInForm.invalid" type="submit" class="border border-teal-500 bg-teal-500 rounded-full text-white w-full h-10">Sign In</button>
    </div>
  </form>
  <br>
  <pre>
    {{ signInForm.value | json }}

    {{ userInfo | json }}
  </pre>
  <span>Form Status: {{ signInForm.status }}</span>
</div>
